# SQL and SQLite in Python

SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

## SQL vs. SQLite

**SQL** is a complete application and standard language used for managing relational databases, often requiring significant configuration and server setup.

In contrast, **SQLite** is a lightweight version of SQL. It is **serverless**, meaning it does not require a separate server process to run. It is **zero-configuration** and stores the entire database as a single file on the local disk, making it ideal for embedded database systems and local storage.

## Setting Up the Environment

To work with SQLite in Python, you must first import the library, which comes pre-installed with Python 3.

In [1]:
import sqlite3

### Establishing a Connection

Use the `connect` method to create a connection object. If the specified database file does not exist, SQLite will automatically create it in the current directory.

In [2]:
## Connect to an SQLite database
connection=sqlite3.connect('example.db')
connection

### Creating a Cursor

A **cursor** object is required to execute SQL commands and iterate through records in the database.

In [3]:
cursor = connection.cursor()

## Creating Tables

Tables are created using the `CREATE TABLE` SQL command wrapped in `cursor.execute()`. It is best practice to use `IF NOT EXISTS` to prevent errors if the table is already present.

**Key Data Types:**

* **INTEGER PRIMARY KEY**: Automatically handles unique identifiers.


* **TEXT**: Used for string data (e.g., names, departments).


* **INTEGER**: Used for numerical values (e.g., age).

In [4]:
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
''')
connection.commit()

Note: The `commit()` method saves the changes to the database.

## CRUD Operations

### Inserting Data

Data is inserted using the `INSERT INTO` command. You can insert single records or multiple records sequentially.

In [7]:
cursor.execute('''
Insert Into employees(name,age,department)
    values('Sushmoy Nandi',23,'Student')
''')
connection.commit()

### Querying Data (Read)

To retrieve data, use the `SELECT` statement. The `fetchall()` method retrieves all rows from the result set of the executed query.

In [8]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Krish', 32, 'Data Scientist')
(2, 'Sushmoy Nandi', 23, 'Student')

Output is typically a list of tuples representing the rows.

### Updating Data

The `UPDATE` statement modifies existing records. Use the `WHERE` clause to specify which records to update to avoid changing all rows.

In [9]:
cursor.execute('''
UPDATE employees
Set age=34
where name="Krish"
''')
connection.commit()

In [10]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(2, 'Sushmoy Nandi', 23, 'Student')

### Deleting Data

The `DELETE FROM` statement removes records. Like updates, a `WHERE` clause is crucial to target specific data.

In [13]:
cursor.execute('''
Delete from employees
where name ='Krish'
''')
connection.commit()

In [14]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(2, 'Sushmoy Nandi', 23, 'Student')

## Bulk Operations

For inserting large datasets efficiently, use the `executemany` method. This allows you to pass a list of tuples and a parameterized SQL query.

**Example with Sales Data:**

In [15]:
## Working Wwith Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [16]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

This method is significantly more efficient than executing a separate `INSERT` statement for every row.

## Closing the Connection

Once all operations are complete, it is essential to close the database connection to free up resources.

In [17]:
connection.close()

In [18]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.

**Warning**: Attempting to execute commands after closing the connection will result in a "Cannot operate on a closed database" error.

## Summary

* **SQL (Structured Query Language)** is the standard language for managing and manipulating relational databases.


* **SQLite** is a self-contained, serverless, zero-configuration database engine widely used for embedded systems.


* Python's built-in `sqlite3` library allows for direct interaction with SQLite databases without complex server setups.


* The workflow involves establishing a **connection**, creating a **cursor** object to traverse records, executing SQL commands, and **committing** changes.


* **CRUD operations** (Create, Read, Update, Delete) can be performed using standard SQL syntax within Python.


* **Bulk insertion** is efficiently handled using the `executemany` method, which allows inserting multiple records at once.


* Always **close the connection** after operations are complete to release resources, but note that closed databases cannot be operated on.